
.h3 Chords & Tabs

- @song.materials.chord.each do |material|
  .media
    .media-body
      %div.pull-right
        =link_to song_material_path(@song, material), method: 'delete',  alt:'Delete',  title: 'Remove this material', data: { confirm: 'Are you sure?'}  do
          %i.glyphicon.glyphicon-remove-sign
        =link_to edit_song_material_path(@song, material), alt:'Edit',  title: 'Edit this material' do
          %i.glyphicon.glyphicon-edit
      %b
        =link_to material.title, material.url, target: '_blank'
      %p
        %a= link_to material.url, material.url, target: '_blank'

.h3 Video Tutorials
%div.row
  - @song.materials.video.each do |material|
    %div.col-xs-12.col-md-8.col-sm-6.col-lg-8
      %div.thumbnail
        .embed-responsive.embed-responsive-4by3
          %iframe.embed-responsive-item{:src => material.https_uri}
        %div.caption
          %div.pull-right
            = link_to song_material_path(@song, material), method: 'delete',  alt:'Delete', data: { confirm: 'Are you sure?'}  do
              %i.glyphicon.glyphicon-remove-sign
          %a= link_to "#{material.title}", song_material_path(@song, material), :target => '_blank'



